@model IEnumerable<Presentation.Mvc.Models.PersonModel>

@{
    ViewBag.Title = "Index";
}

@foreach (var item in Model)
{
    <div class="box-container">
        <div class="box-header box">
            <p>@item.FullName</p>
        </div>
        <div class="box-content">
            <p>Content</p>
        </div>
    </div>
}

<div></div>

@*<table class="table">
        <tr>
            <th></th>
        </tr>

        <tr>
            <td>@item.FullName</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>


    </table>*@
